.text-main {
    justify-self: center;
    text-align: center;
}

.interest {
    margin-top: 70px;
    display: grid;
    grid-template-rows: 1fr 4fr;
    min-height: 71vh;
}

.interest .interest-intro {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-content: center;
    gap: 70px;
    padding-left: 2rem;
}

.interest-intro p {
    min-width: 40vw;
}
.interest-intro h1 {
    max-height: 1em;
}
.interest-content {
    align-self: center;
    justify-self: center;
    justify-content: center;
    /* padding: 48px 16px; */
    width: 95vw;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
}

.content-box {
    margin: 20px 10px;
    padding: 3px 12px;
    border-radius: 8px;
    min-width: 100px;

    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 1em;
}


#technology{
    background-color: var(--accent);
}

#creative {
    background-color: var(--accent-dark);
}

#creative .text-normal {
    color: var(--paper);
}

#leisure {
    background-color: var(--accent2);
}

#leisure .text-normal {
    color: var(--paper);
}

.text-sub4 {
    color: var(--paper);
    justify-self: center;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
}

.content-box .text-normal {
    font-weight: 500; 
    box-sizing: border-box;
    justify-self: stretch;
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.tag {
    background-color: var(--paper);
    border-radius: 4px;
    padding: 3px 5px;
    margin-bottom: 1rem;
}

@media (max-width: 600px) {
    .interest-intro {
        grid-template-rows: 1fr auto;
    }

    .interest-intro h1 {
        grid-row: 1;
    }

    .interest-intro p {
        grid-row: 2 ;
    }

    .interest-content {
        grid-template-columns: 1fr;
        
    }
}
