* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --ink: #253137;
    --paper: #fbf6e5;
    --accent: #F5B942;
    --accent-dark: #D9363E;
    --accent2: #20a7a3;
    --line: #e3d9c9;
    --text-muted: #6b6459;
    --main-serif-font: "Aboreto";
    --main-standard-font: Geneva;
}

.text-normal {
    font-weight: 300;
}

.text-main {
    font-size: 60px;
    line-height: 120%;
}

body {
    min-height: 400px;
    display: grid;
    grid-template-rows: auto 1fr auto ;
    grid-template-areas: "header" "main" "footer";
    font-family: var(--main-standard-font), serif;
    color: var(--ink);
    background-color: var(--paper);
    line-height: 1.6;
}

h1, .brand {
    font-family: var(--main-serif-font), var(--main-standard-font), serif;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.site-header {
    position: relative;
    border-bottom: 1px solid var(--line);
    grid-area: header;
    z-index: 1;
}

.site-header::after {
    content: "";
    position: absolute;
    z-index: -2;
    bottom: -46px;
    left: 0;
    width: 100%;
    height: 45px;
    background-color: var(--accent-dark);
}

.site-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 1.5rem;
}

.brand {
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--ink);
    text-decoration: none;
}

.site-header nav {
    display: flex;
    gap: 2rem;
}

.site-header nav a {
    color: var(--ink);
    text-decoration: none;
    transition: 0.2s;
    font-size: 0.95rem;
}

.site-header nav a:hover {
    color:var(--accent2);
}

.site-footer {
    grid-area: footer;
    padding: 1.5rem;
    color: var(--paper);
    font-size: 0.85rem;
    background-color: var(--accent2);
}

@media (max-width: 900px) {
    .body {
        min-height: 100vh;
    }
    
    .site-footer {
        position: static;
        bottom: 0;
    }
}