{% extends 'base.html' %}
    {% block meta %}
    <link rel="stylesheet" href="/static/css/index.css">
    {% endblock meta %}
</head>
<body>
    {% block content %}
    <main class="profile">
        <section class="profile-leftside-image">
            <div class="photo-block"></div>
            <img class="avatar" src="/static/img/myPic.jpg" alt="Photo of {{ name }}">
        </section>

        <section class="profile-main">
            <div class="profile-information">
                <div class="identity">
                    <p class="text-accented">COMPUTER SCIENCE &middot; UNIVERSITAS INDONESIA</p>
                    <h1 class="text-main">{{ name }}</h1>
                    <p class="text-normal">{{ bio }}</p>
                </div>
                <div class="study-info"> 
                    <div> 
                        <dt>NPM</dt>
                        <dd>{{ npm }}</dd>
                    </div>
                    <div> 
                        <dt>Program</dt>
                        <dd>{{ study_program }}</dd>
                    </div>
                    <div class="meta-row">
                        <dt>Sesi Terakhir Login</dt>
                        <dd>{{ last_login }}</dd>
                    </div>
                </div>
                <div class="container-button">
                    <a href="https://github.com/ClevraldoLimuel" class="social-link">GitHub</a>
                    <a href="https://id.linkedin.com/in/clevraldo-limuel-87b20437b" class="social-link">LinkedIn</a>
                    <a href="mailto:aldolimuell@gmail.com" class="social-link">Email</a>
                </div>
            </div>
        </section>
    </main>

    {% endblock content %}
</body>

</html>