{% extends 'base.html' %}
<head>
    {% block meta %}
    <link rel="stylesheet" href="/static/css/interest.css">
    {% endblock meta %}
</head>

<body>
    {% block content %}
    <main class="interest">
        <section class="interest-intro">
            <h1 class="text-main">INTERESTs</h1>
            <a href="{% url 'main:create_interest' %}"
                       class="button interest-add-button">
                        <span aria-hidden="true">+</span>
                        Tambah Peminatan
                    </a>
            <p class="text-normal">Hal-hal yang menarik perhatian saya, mulai dari bidang yang ingin saya pelajari hingga hobi dan topik yang saya nikmati. Ketertarikan ini menjadi bagian dari proses saya dalam menemukan hal-hal baru, mengembangkan kemampuan, dan memahami lebih banyak tentang dunia di sekitar saya.</p>
        </section>

        <section class="interest-content">
            <div class="content-box" id="technology">
                <h4 class="text-sub4">TECH</h4>
                <p class="text-normal">
                    Building things with codes and understanding systems and softwares.
                </p>
                <div class="tags-container">
                    {% for technology_tag in technologies %}
                        {% include "components/interest_info_modal.html" with interest=technology_tag %}
                    {% empty %}
                        <p class="tag">Its empty..</p>
                    {% endfor %}
                </div>
            </div>
            <div class="content-box" id="creative">
                <h4 class="text-sub4">CREATIVE</h4>
                <p class="text-normal">
                    I like experimenting with visual design and finding ways to make technical projects feel distinctive and expressive.
                </p>
                <div class="tags-container">
                    {% for creative_tag in creatives %}
                        {% include "components/interest_info_modal.html" with interest=creative_tag %}
                    {% empty %}
                        <p class="tag">Umm..</p>
                    {% endfor %}
                </div>
            </div>
            <div class="content-box" id="leisure">
                <h4 class="text-sub4">LEISURE</h4>
                <p class="text-normal">Things that i enjoy to do for fun</p>
                <div class="tags-container">
                    {% for leisure_tag in leisures %}
                        {% comment %} <p class="tag">{{ leisure_tag.name }}</p> {% endcomment %}
                        {% include "components/interest_info_modal.html" with interest=leisure_tag %}
                    {% empty %}
                        <p class="tag">Really?</p>    
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>

    {% endblock content %}
</body>
</html>