{% extends 'base.html' %}
<head>
    {% block meta %}
    <link rel="stylesheet" href="/static/css/interest.css">
    {% endblock meta %}
</head>

<body>
    {% block content %}
    <main class="interest">
        <section class="interest-intro">
            <h1 class="text-main">INTERESTs</h1>
            <p class="text-normal">Things that i am currently have interest on learning and doing</p>
        </section>

        <section class="interest-content">
            <div class="content-box" id="technology">
                <h4 class="text-sub4">TECH</h4>
                <p class="text-normal">
                    Building things with codes and understanding systems and softwares.
                </p>
                <div class="tags-container">
                    {% for technology_tag in technologies %}
                        <p class="tag">{{ technology_tag.name }}</p>
                    {% empty %}
                        <p class="tag">Its empty..</p>
                    {% endfor %}
                </div>
            </div>
            <div class="content-box" id="creative">
                <h4 class="text-sub4">CREATIVE</h4>
                <p class="text-normal">
                    I like experimenting with visual design and finding ways to make technical projects feel distinctive and expressive.
                </p>
                <div class="tags-container">
                    {% for creative_tag in creatives %}
                        <p class="tag">{{ creative_tag.name }}</p>
                    {% empty %}
                        <p class="tag">Umm..</p>
                    {% endfor %}
                </div>
            </div>
            <div class="content-box" id="leisure">
                <h4 class="text-sub4">LEISURE</h4>
                <p class="text-normal">Things that i enjoy to do for fun</p>
                <div class="tags-container">
                    {% for leisure_tag in leisures %}
                        <p class="tag">{{ leisure_tag.name }}</p>
                    {% empty %}
                        <p class="tag">Really?</p>    
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>

    {% endblock content %}
</body>
</html>