<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clevraldo Limuel - Portfolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/interest.css">
</head>

<body>
    <header class="site-header">
        <div class="container">
            <div class="main-tittle">
                <a href="../" class="brand">Clevr</a>
            </div>
            <nav>
                <a href="../#profile">Profile</a>
                <a href="">Interests</a>
            </nav>
        </div>
    </header>


    <main class="interest">
        <section class="interest-intro">
            <h1 class="text-main">INTERESTs</h1>
            <p class="text-normal">Things that i am currently have interest on learning and doing</p>
        </section>

        <section class="interest-content">
            <div class="content-box" id="technology">
                <h4 class="text-sub4">TECH</h4>
                <p class="text-normal">
                    Building things with codes and understanding systems and softwares.
                </p>
                <div class="tags-container">
                    <p class="tag">Web Development</p>
                    <p class="tag">Game Development</p>
                    <p class="tag">Algorithm</p>
                    <p class="tag">OS</p>
                    <p class="tag">Godot</p>
                </div>
            </div>
            <div class="content-box" id="creative">
                <h4 class="text-sub4">CREATIVE</h4>
                <p class="text-normal">
                    I like experimenting with visual design and finding ways to make technical projects feel distinctive and expressive.
                </p>
                <div class="tags-container">
                    <p class="tag">Pixel Art</p>
                    <p class="tag">UI</p>
                    <p class="tag">Game Design</p>
                    <p class="tag">Videography</p>
                    <p class="tag">Photography</p>
                </div>
            </div>
            <div class="content-box" id="leisure">
                <h4 class="text-sub4">LEISURE</h4>
                <p class="text-normal">Things that i enjoy to do for fun</p>
                <div class="tags-container">
                    <p class="tag">Games</p>
                    <p class="tag">4x</p>
                    <p class="tag">Simulation</p>
                    <p class="tag">Martial Arts</p>
                    <p class="tag">Music</p>
                </div>
            </div>
        </section>
    </main>

    <footer class="site-footer">
        <div class="container">
            <p>&copy; 2026 Clevr. Fakultas Ilmu Komputer, Universitas Indonesia.</p>
        </div>
    </footer>

</body>
</html>